<div style="height: 150px;">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand logo" href="#">Predict</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav nav-content ms-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">Predict</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#project">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link contact-me" href="#contact">Contact Me</a>
              </li>
          </ul>
      </div>
  </div>
  </nav>
</div>
